<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
	<pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
	<bindings>
		  <webHttpBinding>
			  <binding name="GPTW.Service1" transferMode="Streamed" closeTimeout="00:20:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
				  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
			  </binding>
		  </webHttpBinding>
	  </bindings>
	<services>
		  <service behaviorConfiguration="Service1Service" name="GPTW.Service1">
			  <endpoint address="" behaviorConfiguration="Service1Behaviour" binding="webHttpBinding" bindingConfiguration="GPTW.Service1" contract="GPTW.IService1">
				  <identity>
					  <dns value="localhost"/>
				  </identity>
			  </endpoint>
			  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
		  </service>
	  </services>
	<behaviors>
		  <endpointBehaviors>
			  <behavior name="Service1Behaviour">
				  <webHttp/>
			  </behavior>
		  </endpointBehaviors>
		  <serviceBehaviors>
			  <behavior name="Service1Service">
				  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
				  <serviceDebug includeExceptionDetailInFaults="true"/>
			  </behavior>
		  </serviceBehaviors>
	  </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
	<connectionStrings>
		<add name="ConnectionString1" connectionString="server=localhost; Database=Test; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
